body {
    background: rgb(242,176,92);
    background: radial-gradient(circle, rgba(242,176,92,1) 0%, rgba(79,219,208,1) 100%);
    margin-left:auto;
    margin-Right:auto;
}
h1 {
    color: red;
    width: 60%;
    border: 10px solid rgb(61, 201, 61);
    padding: 50px;
    margin: 20px;
    margin-left: auto;
    margin-right:auto;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border: 5px solid rgb(245, 150, 43);
}
img {
    border: 5px solid rgb(245, 150, 43);
  }